* {
    margin: 0;
    padding: 0;
    font-family: 'Broken-Console';
    scroll-behavior: smooth;
}



@font-face {
    font-family: 'Broken-Console';
    src: url(Broken\ Console.ttf);
}

body {
    background: rgb(153, 153, 153);
    display: grid;
    width: auto;
    justify-content: center;
    cursor: default;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}

h2 {
    font-size: 30px;
}


                                                       /* NAVBAR */

.imglogo {
    width: 96px;
    height: 96px;
    margin-right: 20px;
    margin-left: 80px;
}

.fontlogo  {
    color: white;
    font-family: "broken-console";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 200px;
    margin-top: -4.5%;
    font-family: 'broken-console';
}

.list {
   display: flex;
   font-size: 20px;
   outline: none;
   list-style-type: none;
   margin-left: 200px;
}

.beranda {
    color: white;
    font-size: 20px;
    font-family: 'inter';
    font-weight: bold;
    margin-left: 500px;
    margin-top: -40px;
}

.tentang {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    margin-left: 40px;
    margin-top: -40px;
}

.acara {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    margin-left: 40px;
    margin-top: -40px;
}

.galeri {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    margin-left: 40px;
    margin-right: 50px;
    margin-top: -40px;
}

.dashfont {
    font-family: 'inter';
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin-left: 1100px;
    margin-right: 50px;
    margin-top: -50px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
    background: #8637C6;
    text-align: center;
}

.dashfont:hover {
    background: white;
    color: #8637C6;
    border: none;
}

                                                      /* section1 */
.sec1 {
    background-image: linear-gradient(#8DD632, #42B54C);
}

.awan1 {
    opacity: 50%;
    width: 20%;
    margin-left: 20px;
    margin-bottom: 100px;
}

.awan2 {
    opacity: 50%;
    width: 20%;
    display: inline-block;
    margin-left: 1050px;
    margin-top: -150px;
}

.content {
    padding-top: 100px;
    width: 100%;
}

.imagegunung {
    background-image: url(Gunung.png);
    background-size: cover;
}

.contentlogo {
    justify-content: center;
    margin-left: 100px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 60px;
}

.list2 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.rupiah {
    font-family: 'roboto';
    font-size: 16px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    margin-right: 10px;
    margin-left: -10px;
    padding: 10px 50px;
    text-align: center;
    border-radius: 20px;
    font-style: normal;
}

.sma {
    font-family: 'roboto';
    font-style: normal;
    font-size: 16px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border-radius: 20px;
}

.orang {
    font-family: 'roboto';
    font-size: 16px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 10px 50px;
    border-radius: 20px;
    font-style: normal;
}

.ptema {
    color: white;
    font-size: 20px;
    font-family: 'roboto';
    font-weight: 500;
    font-style: normal;
    width: 800px;
    margin-top: 50px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 140px;
}

.content2 {
    color: white;
    display: flex;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pabout {
    padding: 100px;
}

                                                    /* section2 */
            
.sec2 {
    background-image: linear-gradient(#42B54C, #9DDB59);
}
                                           
.wmfont {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-family: 'inter';
}

.contentfont3 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pdesc {
    color: white;
    font-family: 'roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
}

                                                       /* slide */

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
     flex: 1 0 100%;
     scroll-snap-align: start;
     object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.list3 {
    margin-top: 50px;
    margin-left: -30px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px;
}

.poster {
    margin-left: 30px;
    font-family: 'roboto';
    font-size: 16px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 10px 50px;
    border-radius: 20px;
}

.rules {
    font-family: 'roboto';
    font-size: 16px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 10px 50px;
    border-radius: 20px;
}

                                                    /* section4 */

.sec4 {
    background: linear-gradient(#9DDB59, #B3E734, #e6f9c3);
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 1000vh;
    margin-top: -100px;

}

.wmfont2 {
    color: #F4347F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 0px;
    font-family: 'inter';
}

.wmfont3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 0px;
    font-family: 'inter';
}

.content3 {
    color: #F4347F;
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content4 {
    color: #ffffff;
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pdesc1 {
    color: #F4347F;
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
    margin-top: 50px;
}

.pdesc2 {
    color: #ffffff;
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
    margin-top: 30px;
}

                                                     /* desc-box */
.awan6 {
    opacity: 50%;
    width: 20%;
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}

.awan5 {
    opacity: 50%;
    width: 20%;
    display: flex;
    margin-left: 1100px;
    margin-bottom: -50px;
}

.roti {
    margin-bottom: 50px;
    width: 20%;
    display: inline-block;
}

.box-wrapper {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
    display: flex;
    gap: 200px;
}

.box-wrapper h2 {
    color: #2D678C;
    font-size: 24px;
    margin-bottom: 40px;
}

.box-wrapper p {
    font-size: 20px;
    font-family: roboto;
}

.box1 {
    background: white;
    display: inline-block;
    width: 500px;
    height: 750px;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}

.box1 li, .box2 li {
    font-size: 18px;
    font-family: 'inter';
    text-align: left;
}

.box2 {
    background: white;
    display: inline-block;
    width: 500px;
    height: 750px;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}

.list4 {
    margin-top: 150px;
    margin-left: -30px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding: 100px;
    gap: 30px;
}

.daftar {
    font-family: 'roboto';
    font-size: 16px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 10px 50px;
    border-radius: 20px;
}
                                                    /* timeline */
.sec5 {
    background: linear-gradient(#e6f9c3, #42B54C);
    width: 100%;
    min-height: 100vh;
    margin-top: -100px;
}
.tmfont {
    margin-top: 150px;
    margin-right: -100px;
    justify-content: center;
    font-size: 12px;
    color: #2D678C;
    display: flex;
}

.tmfonth2 {
    margin-left: 150px;
}

.tmdate {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/* .tmdate:after {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;
    left: 570px;
    margin-top: -15px;
    margin-left: 10px;
    content: '';
    transform: rotate(45deg);
    background: white;
} */

.tmdate li {
    font-family: 'inter';
    font-size: 20px;
    border: 2px solid transparent;
    padding: 25px 20px;
    color: white;
}

.date1 {
    border-radius: 10px 0px 0px 10px;
}

.date2, .date4 {
    background: #2D678C;
}

.date1, .date3, .date5 {
    background: #8DD0C0;
}

.date5 {
    border-radius: 0px 10px 10px 0px;
}

.spandiv {
    justify-content: center;
    text-align: center;
    margin-top: 28px;
}

.spandiv2 {
    margin-top: -18px;
}

.span1 {
    border-bottom: 30px solid #2D678C;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 580px;
}

.span2 {
    margin-left: 360px;
    border-bottom: 30px solid #2D678C;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.span3 {
    border-top: 30px solid #8DD0C0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -750px;
}

.span4 {
    border-top: 30px solid #8DD0C0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 790px;
    margin-top: -50px;
}

.span5 {
    border-top: 30px solid #8DD0C0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 1120px;
}


.tmfonth2 {
    position: relative;
    margin-left: 500px;
}

.tmfonth3 {
    position: relative;
    margin-left: 100px;
}

.tmfonth4 {
    position: relative;
    margin-top: -100px;
    margin-left: 220px;
}

.tmfonth5 {
    text-align: center;
    margin-top: -100px;
    margin-left: 230px;
}

.tmfonth6 {
    text-align: center;
    margin-top: -100px;
    margin-left: 100px;
    padding-bottom: 200px;
}

.tmfont2 {
    margin-top: 150px;
    margin-right: -100px;
    font-size: 12px;
    color: #2D678C;
    display: flex;
}

                                                                                    /* section 6 */

.pricepool {
    width: 100%;
}

                                                                                    /* section 7 */

.sec7 {
    margin-top: -5px;
    background-color: #1B813D;
    padding-bottom: 20px;
}

.wmfont7 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-family: 'inter';
    padding-top: 200px;
}

.sec7tm {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.pdesc7 {
    color: #ffffff;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
}

.daftar7 {
    margin-left: 640px;
    display: inline-block;
    padding: 10px 50px;
    border: 1px solid #F4347F;
    background: #F4347F;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'roboto';
}

.vector {
    margin-left: 20px;
    font-size: 16px;
}

                                                   /* section 8 */

.sec8 {
    background: linear-gradient(#1B813D, #1A3D26);
    padding-bottom: 100px;
}
.content8 {
    color: #F4347F;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.awan3 {
    width: 20%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
}

.awan4 {
    width: 20%;
    display: inline-block;
    margin-left: 1150px;
    margin-top: -250px;
}

.pdesc8 {
    color: #ffffff;
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
}

.sec8tm {
    text-align: center;
    color: white;
}

.wmfont8 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    font-family: 'inter';
}

.phonebox {
    margin-left: 480px;
}

                                                    /* section 9 */
.sec9 {
    display: flex;
    flex-direction: column;
    background: #003150;
}

.div9 {
    display: flex;
}

.footerlg {
    width: 10%;
    margin-top: 100px;
    margin-left: 115px;
    margin-bottom: 150px;
}

.h59 {
    color: white;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 24px;
    font-family: 'inter';
    font-style: normal;
    font-weight: bold;
}

.p9 {
    opacity: 70%;
    font-size: 16px;
    color: white;
    margin-top: 150px;
    margin-left: -90px;
    display: inline-block;
    font-family: 'inter';
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
}

.komp {
    font-size: 24px;
    font-family: 'inter';
    font-weight: 700;
    font-style: normal;
    color: white;
    display: inline-block;
    margin-left: 130px;
    margin-top: 100px;
}

.acr {
    font-size: 24px;
    font-family: 'inter';
    font-weight: 700;
    font-style: normal;
    color: white;
    display: inline-block;
    margin-left: 130px;
}

.aks {
    font-size: 24px;
    font-family: 'inter';
    font-weight: 700;
    font-style: normal;
    color: white;
    display: inline-block;
    margin-left: 130px;
}

.sc {
    font-size: 24px;
    font-family: 'inter';
    font-weight: 700;
    font-style: normal;
    color: white;
    display: inline-block;
    margin-left: 130px;
    margin-right: 50px;
}

.kompdesc {
    opacity: 70%;
    margin-left: 570px;
    margin-top: -240px;
    display: inline-block;
}

.bcc, .wdc, .muc {
    font-family: 'inter';
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-style: normal;
    width: 180px;
    height: 50px;
}

.seminar {
    opacity: 70%;
    font-family: 'inter';
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-style: normal;
    margin-left: 60px;
    margin-top: -240px;
}

.aksesdesc {
    opacity: 70%;
    margin-left: 85px;
    margin-top: -255px;
    line-height: 300%;
}

.footerdftr, .login {
    font-family: 'inter';
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-style: normal;
}

.scdesc {
    opacity: 70%;
    margin-left: 150px;
    margin-top: -255px;
    line-height: 300%;
}

.inst, .line, .email {
    font-family: 'inter';
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-style: normal;
}

.copyright {
    font-size: 17px;
    color: white;
    margin-left: 620px;
    margin-bottom: 30px;
    font-weight: 600;
    font-family: 'roboto';
    font-style: normal;
}
