.awan_animation,
.awan_animation_layer {
  height: 1000px;
}

.awan_animation {
  display: block;
  position: relative;
  z-index: 10;
}

.awan_animation_layer {
  height: 100vh;
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.flex {
  align-items: center;
  display: flex;
}

.awan_animation_layer.parallax {
  position: fixed;
}

#title {
  background-image: url(./images/eternal-technology-title.png);
  position: relative;
  top: -90px;
}

#awan1 {
  background-image: url(./images/awan-hero/awan1.png);
}

#awan2 {
  background-image: url(./images/awan-hero/awan2.png);
}

#awan3 {
  background-image: url(./images/awan-hero/awan3.png);
}

#awan4 {
  background-image: url(./images/awan-hero/awan4.png);
}

#awan5 {
  background-image: url(./images/awan-hero/awan5.png);
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper-slide {
  width: 37rem;
  height: 38rem;
  position: relative;
  justify-content: center;
}

/* .swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
} */

/* .swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
} */

/* .slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
} */

/* .slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
} */

/* .slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
} */
/* 
.slider-controler .slider-arrow::after {
  content: '';
} */

/* .swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
} */

/* .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
} */

/* .swiper-pagination .swiper-pagination-bullet-active {
  background-color: blueviolet;
} */