* {
    font-family: 'Broken-Console';
    scroll-behavior: smooth;
}



@font-face {
    font-family: 'Broken-Console';
    src: url(Broken\ Console.ttf);
}

body {
    background: rgb(144, 227, 144);
    display: grid;
    width: auto;
    min-height: 1000vh;
    justify-content: center;
    cursor: default;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}

h2 {
    font-size: 30px;
}

                                                       /* NAVBAR */

.imglogo {
    width: 96px;
    height: 96px;
    margin-right: 20px;
    margin-left: 80px;
}

.fontlogo  {
    font-family: "broken-console";
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 200px;
    margin-top: -4.5%;
    font-family: 'broken-console';
}

.list {
    display: flex;
    margin-top: 0%;
   font-size: 20px;
   outline: none;
   list-style-type: none;
   margin-left: 200px;
}

.beranda {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'inter';
    margin-left: 350px;
    margin-top: -60px;
}

.tentang {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'inter';
    margin-left: 40px;
    margin-top: -60px;
}

.acara {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'inter';
    margin-left: 40px;
    margin-top: -60px;
}

.galeri {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'inter';
    margin-left: 40px;
    margin-right: 50px;
    margin-top: -60px;
}

.dashfont {
    font-family: 'inter';
    color: white;
    font-size: 30px;
    margin-left: 1100px;
    margin-right: 50px;
    margin-top: -90px;
    border: 1px solid #8637C6;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    background: #8637C6;
    text-align: center;
}

.dashfont:hover {
    background: white;
    color: #8637C6;
    border: none;
}

                                                      /* content */

.content {
    margin-top: 200px;
    width: 100%;
}

.contentlogo {
    text-align: center;
    font-size: 80px;
}

.list2 {
    margin-top: 100px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.rupiah {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    margin-right: 50px;
    margin-left: -50px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border-radius: 20px;
    font-style: bold;
}

.sma {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    font-style: bold;
}

.orang {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    font-style: bold;
}

.ptema {
    font-size: 20px;
    font-family: 'inter';
    font-weight: 500;
    width: 800px;
    margin-top: 50px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content2 {
    display: flex;
    margin-top: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wmfont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'inter';
}

.contentfont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pdesc {
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
}

                                                       /* slide */

.sec3 {
    margin-top: 100px;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 20px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
     flex: 1 0 100%;
     scroll-snap-align: start;
     object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.list3 {
    margin-top: 50px;
    margin-left: -30px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.poster {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}

.rules {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}

                                                    /* ketentuan */

.sec4 {
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 1000vh;

}

.wmfont2 {
    color: #F4347F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 0px;
    font-family: 'inter';
}

.wmfont3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 0px;
    font-family: 'inter';
}

.content3 {
    color: #F4347F;
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content4 {
    color: #ffffff;
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pdesc1 {
    color: #F4347F;
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
    margin-top: 50px;
}

.pdesc2 {
    color: #ffffff;
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
    margin-top: 30px;
}

                                                     /* desc-box */

.box-wrapper {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
    display: flex;
    gap: 200px;
    background: white;
}

.box-wrapper h2 {
    color: #2D678C;
    font-size: 24px;
    margin-bottom: 40px;
}

.box-wrapper p {
    font-size: 20px;
    font-family: roboto;
}

.box1 {
    width: 500px;
    height: 700px;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(143, 143, 143);
    backdrop-filter: blur(10px);
}

.box1 li, .box2 li {
    font-size: 18px;
    font-family: roboto;
    text-align: left;
}

.box2 {
    width: 500px;
    height: 750px;
    border: 2px solid rgb(168, 163, 163);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(143, 143, 143);
    backdrop-filter: blur(10px);
}

.list4 {
    margin-top: 150px;
    margin-left: -30px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.daftar {
    font-family: 'roboto';
    font-size: 20px;
    color: white;
    background: #8637C6;
    border: 1px solid #8637C6;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}
                                                    /* timeline */
.sec5 {
    width: 100%;
    min-height: 100vh;
}
.tmfont {
    margin-top: 150px;
    margin-right: -100px;
    justify-content: center;
    font-size: 12px;
    color: #2D678C;
    display: flex;
}

.tmfonth2 {
    margin-left: 150px;
}

.tmdate {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/* .tmdate:after {
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 0px solid black;
    border-bottom: 0px solid black;
    left: 570px;
    margin-top: -15px;
    margin-left: 10px;
    content: '';
    transform: rotate(45deg);
    background: white;
} */

.tmdate li {
    font-family: 'inter';
    font-size: 20px;
    border: 2px solid transparent;
    padding: 25px 20px;
    color: white;
}

.date1 {
    border-radius: 10px 0px 0px 10px;
}

.date2, .date4 {
    background: #2D678C;
}

.date1, .date3, .date5 {
    background: #8DD0C0;
}

.date5 {
    border-radius: 0px 10px 10px 0px;
}

.spandiv {
    justify-content: center;
    text-align: center;
    margin-top: 28px;
}

.spandiv2 {
    margin-top: -18px;
}

.span1 {
    border-bottom: 30px solid #2D678C;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 580px;
}

.span2 {
    margin-left: 360px;
    border-bottom: 30px solid #2D678C;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.span3 {
    border-top: 30px solid #8DD0C0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -750px;
}

.span4 {
    border-top: 30px solid #8DD0C0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 790px;
    margin-top: -50px;
}

.span5 {
    border-top: 30px solid #8DD0C0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 1120px;
}


.tmfonth2 {
    position: relative;
    margin-left: 500px;
}

.tmfonth3 {
    position: relative;
    margin-left: 100px;
}

.tmfonth4 {
    position: relative;
    margin-top: -100px;
    margin-left: 220px;
}

.tmfonth5 {
    text-align: center;
    margin-top: -100px;
    margin-left: 230px;
}

.tmfonth6 {
    text-align: center;
    margin-top: -100px;
    margin-left: 100px;
}

.tmfont2 {
    margin-top: 150px;
    margin-right: -100px;
    font-size: 12px;
    color: #2D678C;
    display: flex;
}

