@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Broken Console";
  src: url("/fonts/Broken Console.ttf") format("truetype");
}

@font-face {
  font-family: "Louis George Cafe";
  src: url("/fonts/Louis George Cafe.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/Josefin Sans.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #59aff6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e6cac;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}